einops
imageio==2.9.0
numpy
omegaconf==2.1.1
opencv_python
pandas
Pillow
pytorch_lightning==1.9.3
pyyaml
setuptools
torch
torchvision
tqdm
transformers
moviepy
av
xformers
timm
scikit-learn
open_clip_torch==2.22.0
kornia
decord==0.6.0